* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.topo {
  width: auto;
  height: 69px;
  background-color: #ec362d;
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  width: auto;
  height: 100%;
  background-color: #fafafa;
  box-shadow: 0 2px 4px 0 inset rgba(0, 0, 0, 0.4);
  padding-top: 70px;
}

.containerVazio {
  max-width: 1051px;
  height: 181px;
  background-color: #fafafa;
  border: 1px dashed #d4d4d4;
  box-shadow: 0 0 1px #d4d4d4 inset;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.containerVazio > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.semQuizz {
  width: 250px;
  height: 85px;
  color: #b9b9b9;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.criarQuizz {
  width: 151px;
  height: 40px;
  color: #ec362d;
  font-size: 21px;
  font-weight: 400;
  border: 1px dashed #ec362d;
  box-shadow: 0 0 1px #ec362d inset;
  border-radius: 50px;
  text-align: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.crearQuizz0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.crearQuizz0 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
}
.crearTela0 {
  margin-top: 27px;
  width: 600px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
}

.crearTela0 input {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 23px;
}

.crearTela0 input::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  color: #bababa;
}

.crearQuizz0 button {
  width: 368.86px;
  height: 54px;
  background: #ec362d;
  border-radius: 15px;
  border: none;
  color: #fff5f4;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 85px;
  margin-bottom: 30px;
}
.perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perguntas .titulo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
}
.caixa-perguntas {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 36px;
  width: 600px;
  margin-bottom: 20px;
}
.caixa-perguntas .pergunta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pergunta input {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.pergunta p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 17px;
  margin-top: 20px;
}
.pergunta input::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  color: #bababa;
  margin-left: 20px;
  padding: 0 15px;
}
.pergunta input:last-child {
  margin-bottom: 27px;
}
.escondido {
  display: none;
}
